body {
  background-color: white;
  text-align: center;
}
#calculator{
  background-color: rgb(220, 232, 255);
  width: 400px;
  height: 350px;
  border: 1px solid rgb(186, 196, 216);
  padding: 20px;
  border-radius: 20px;
  margin: 50px auto;
  box-shadow: 0px 0px 3px 6px #ccc;
  
}
input{
  font-size: medium;
  border-color: blue;
}

#display {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 30px;
  width: 20em;
  border: 1px solid rgb(186, 196, 216);
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgb(189, 185, 185);
  text-align: right;
  font-size: 90px bold;

}

.point{
  width: 15%;
  height: 35px;
  margin: 4px;
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 2px;
  outline: none;
}

.equals{
  width: 33%;
  height: 35px;
  margin-left: 16px;
  margin: 4px;
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 2px;
  outline: none;
}

.keys {
  font-weight: 400;
  width: 15%;
  height: 35px;
  margin: 4px;
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 2px;
  outline: none;
}

.keys:hover {
  border-color: red;
  background-color: rgb(124, 205, 230);
}

.point:hover {
  border-color: red;
  background-color: rgb(124, 205, 230);
}

.equals:hover {
  border-color: red;
  background-color: rgb(124, 205, 230);
}

.keys:active {
  background-color: aqua;
}

.point:active {
  background-color: aqua;
}

.equals:active { 
  background-color: aqua;
}

/* This code was written by github: @andrewlopezcodes */